.container {
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

#box {
    display: block;
    /* background-color: black; */
    width: 40rem;
    height: 40rem;
    margin: auto;
    border: 1px solid black;

}

.box1 {
    float: left;
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: white;
}

.box2 {
    display: block;
    float: left;
    width: 5rem;
    height: 5rem;
    background-color: black;
}

@media screen and (max-width: 800px) {
    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    #box {
        width: 32rem;
        height: 32rem;
        border: 1px solid black;
        margin: auto;
    }

    .box1 {
        float: left;
        width: 4rem;
        height: 4rem;
        background-color: white;
    }

    .box2 {
        float: left;
        width: 4rem;
        height: 4rem;
        background-color: black;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        text-align: center;
        font-size: 1rem;
    }

    #box {
        width: 24rem;
        height: 24rem;
        border: 1px solid black;
        margin: auto;
    }

    .box1 {
        float: left;
        width: 3rem;
        height: 3rem;
        background-color: white;
    }

    .box2 {
        float: left;
        width: 3rem;
        height: 3rem;
        background-color: black;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        text-align: center;
        font-size: 1rem;
    }

    #box {
        width: 16rem;
        height: 16rem;
        border: 1px solid black;
        margin: auto;
    }

    .box1 {
        float: left;
        width: 2rem;
        height: 2rem;
        background-color: white;
    }

    .box2 {
        float: left;
        width: 2rem;
        height: 2rem;
        background-color: black;
    }
}